.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card-body {
  text-align: left;
}

.options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.options-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.option-btn {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  min-width: 300px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.option-btn.selected {
  background-color: #000000;
  color: #fff;
}

.score-area {
  margin-top: 20px;
  text-align: center;
}

.score-data {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 700px;
  height: 470px;
  position: absolute;
}

.main-card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.score-bar {
  background-color: black;
}
.test-progress-bar {
  background-color: gray;
}